version: "3.9"

services:
  database:
    image: postgres:16
    restart: always
    environment:
      POSTGRES_DB: climate
      POSTGRES_USER: miku
      POSTGRES_PASSWORD: flamengo
    ports:
      - "5432:5432"
    volumes:
      - pgdata:/var/lib/postgresql/data

  rabbitmq:
    image: rabbitmq:3-management
    container_name: rabbitmq_management
    ports:
      - "5672:5672"
      - "15672:15672"

    environment:
      RABBITMQ_DEFAULT_USER: adminclimate
      RABBITMQ_DEFAULT_PASS: flamengo

    volumes:
      - rabbitmq_data:/var/lib/rabbitmq

    healthcheck:
      test: ["CMD", "rabbitmq-diagnostics", "-q", "ping"]
      interval: 30s
      timeout: 30s
      retries: 3

    restart: always

volumes:
  pgdata:
    driver: local
  rabbitmq_data:
